*{
  box-sizing: border-box;
}

body{
  margin: 0px; 
  padding: 0px; 
  font-family: "Nunito Sans", sans-serif;
  min-width: 320px; 
}

.header-div{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px; 
}

.mode-p{
  cursor: pointer; 
}

label{
  margin-bottom: 5px; 
}
input{
  padding: 5px 0px 5px 5px; 
  font-family: "Nunito Sans", sans-serif;
  border: none; 
}

select{
  padding: 5px 0px 5px 5px; 
  font-family: "Nunito Sans", sans-serif;
  border: none; 
}

.query-div{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 15px; 
}

.countries-div{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  margin: 0px;
  gap: 20px;
  padding: 0px 15px 15px 15px;  
  
}

.input-country-div, .select-region-div{
  display: flex; 
  flex-direction: column;  
}

img{
  height: 100px; 
  width: 100%; 
}

.individual-country-div{
  cursor: pointer;  
  width: 190px; 
}

.individual-country-div>p{
  margin: 0px; 
}

.country-detail{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country-details{
  padding: 0px 10px 5px 10px; 
}

.country-details>h4{
  margin-top: 0px; 
  margin-bottom:5px; 
}

.country-details>p{
  margin: 5px 0px;
}

a{
    text-decoration: none;
}

/*COUNTRY DETAIL*/
.country-detail-div{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
 
  gap: 10rem; 
  margin-top: 10em;  

}

.country-detail-div>div>h1{
  margin-bottom: 0px; 
}
.country-detail-div>img{
  width: 500px; 
  height: 350px; 
}

.country-details-div{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.back-btn{
  cursor: pointer;
  padding: .5rem 1.75rem;
}

.back-btn>i{
  margin-right: .65rem; 
}
/*MISC*/

.bold{
  font-weight: bold;
}

.small-font{
  font-size: .87rem; 
}

footer{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;            
  transform: translateX(-50%);
}

.fa-icon{
  margin-left: .25rem; 
}

/*@MEDIA QUERIES
@media (max-width: 480px) {
  .countries-div{

}
}
*/
