*{
  box-sizing: border-box;
}

body{
  margin: 0; 
  padding: 0; 
  font-family: "Nunito Sans", sans-serif;
  min-width: 320px; 
  
}

.header-div{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px; 
}

.mode-p{
  cursor: pointer; 
}

label{
  margin-bottom: 5px; 
}

input{
  padding: 5px 0px 5px 5px; 
  font-family: "Nunito Sans", sans-serif;
  border: none; 
  cursor: pointer;
}

select{
  padding: 5px 0px 5px 5px; 
  font-family: "Nunito Sans", sans-serif;
  border: none; 
  cursor: pointer;
}

.query-div{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px; 
  width: 100%;

}

.countries-home-main{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  padding: 0 3rem;

}

.countries-div{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0; 
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
 
}

.input-country-div, .select-region-div{
  display: flex; 
  flex-direction: column;
}

img{
  height: 100px; 
  width: 100%; 
}

.individual-country-div{
  cursor: pointer;  
  width: 215px;
  height: 250px; 
}

.individual-country-div>p{
  margin: 0px; 
}

.country-detail{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.country-details{
  padding: 0px 10px 5px 10px; 
}

.country-details>h4{
  margin-top: 0px; 
  margin-bottom:5px; 
}

.country-details>p{
  margin: 5px 0px;
}

a{
    text-decoration: none;
}

/*COUNTRY DETAIL*/
.country-detail-div{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 7rem; 
}

.country-detail-div>div>h1{
  margin-bottom: 0px; 
}

.country-detail-div>img{
  width: 500px; 
  height: 350px; 
}

.country-details-div{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.back-btn{
  cursor: pointer;
  padding: .5rem 1.75rem;
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  position: absolute;
  top: 10rem; 

}

.back-btn>i{
  margin-right: .65rem; 
}
/*MISC*/

.bold{
  font-weight: bold;
}

.small-font{
  font-size: .87rem; 
}

footer{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;            
}

.fa-icon{
  margin-left: .25rem; 
}

/*@MEDIA QUERIES
@media (max-width: 480px) {
  .countries-div{

}
}
*/
